body, input {
  font: menu;
}

li.list-group-item {
  background-color: lightgray;
}

.content {
  display: flex;
}

.note-list {
  width: 200px;
}

.note-content {
  padding-left: 3em;
}

.note-list-item {
  display: block;
  color: black;
}

