body, input {
  font: menu;
}

h3 {
  margin-top: 0px !important;
}

.pane {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

li.list-group-item {
  background-color: lightgray;
}

.content {
  display: flex;
}

.note-list {
  width: 200px;
}

/* .note-content { */
/*   padding-left: 3em; */
/* } */

.note-list-item {
  display: block;
  color: black;
}

